body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header p {
  margin: 0 auto;
  width: 400px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin: 0;
  vertical-align: middle;
  
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  margin-left: 12px;
  vertical-align: middle;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

.add-item {
  background-color: rgb(237, 237, 237);
  border-radius: 2px;
  margin-right: 50px;
  border-top: 3px solid #103D5D;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  padding: 60px 18px;
  margin-bottom: 34px;  
  margin-right: auto;
  width: 25%;
}

.display-item {
  margin-left: 50px;
  width: 65%;
}

.display-item button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
}

.add-item form {
  overflow: hidden;
  width: 100%;
}

input {
  border: 0;
  color: #000;
  display: block;
  font-size: 16px;
  margin-bottom: 17px;
  padding: 18px 22px;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  color: #000;
  background-color: rgb(237, 237, 237);
  list-style-type: none;
  margin-bottom: 30px;
  margin-right: 50px;
  width: calc(50% - 50px);
}

h2 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

li h3 {
  background-color: #103D5D;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  margin-top: 10px;
  width: 100%;
}

button {
  background-color: #FA6900;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: #fff;
  cursor: pointer;
  margin: 10px;
  min-width: 120px;
  font-size: 14px;
  padding: 10px 6px;
}

.user-profile {
  bottom: 20px;
  height: 100px;
  position: fixed;
  right: 40px;
  width: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}